/* Map */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* End Map */

.mdl-navigation__link,
.mdl-layout-title{
	cursor: pointer;
}

.text-center{
	text-align: center;
}